body{
    font-family: 'Roboto Condensed', sans-serif;
font-family: 'Shadows Into Light Two', cursive;

}

.navbar-section{
    background-color: #E4E4DD;
}

.nav-font{
    font-size: 30px;
    font-weight: 700;
}
.h6-font{font-size: 25px;
    font-weight: 700;}

    .h1-font{font-size: 50px;
        font-weight: 700;}

.second-section{
    background-color: #E4E4DD;
}


.div-third-section{
    background-color: #2E2E2E;
    color: white;
}
.p-font{font-size: 13px;}

.third-section-card{
    margin-left: -120px;
}
.icon-third-section-card{
    margin-top: -5px;
}

.third-section{
    background-color: black;
    color: white;
}
.card-third-section{
    background-color: #191919;
    ;
}